# Prerequisites
*.d
src/version.c

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Metadata
*.aliases
*.lvlps

ts-M1M3supportd
m1m3sscli

tests/test_*
!tests/test_*.cpp

# log files
MTM1M3_*
ospl-error.log
ospl-info.log
.pre-commit-config.yaml
.clang-format
.flake8
.isort.cfg
.mypy.ini
.ruff.toml
