# Prerequisites
*.d
src/version.c

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.out

ts-M1M3supportd
m1m3sscli

tests/test_*
!tests/test_*.cpp

.pre-commit-config.yaml
.clang-format
.flake8
.isort.cfg
.mypy.ini
.ruff.toml
towncrier.toml
.LICENSE.txt
