# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Metadata
*.aliases
*.lvlps

ts-M1M3supportd
m1m3sscli

!tests/test_*.cpp
tests/test_*

# log files
MTM1M3_*
ospl-error.log
ospl-info.log
